body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left
}

fieldset, img, a img, iframe, html, body, input {
    border: 0
}

li {
    list-style: none
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal
}

h1, h2, h3, h4, h5, h6, em {
    font-size: 100%;
    font-weight: normal
}

strong, b {
    font-style: normal;
    font-size: 100%;
    font-weight: bold
}

body, textarea, select, input {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
    font-size: 12px;
    color: #555;
    line-height: 2
}

body {
    -webkit-text-size-adjust: none;
    word-wrap: break-word
}

a {
    text-decoration: none;
    outline: 0;
    star: expression(this.onFocus=this.blur())
}

.f-cb:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both
}

.f-cb {
    zoom: 1
}

.f-fl {
    float: left
}

.f-fr {
    float: right
}

a, .index .m-post {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

.g-hd, .g-mn, .m-about, .m-nav {
    position: relative;
    zoom: 1
}

.hdbg, .hdbg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    _height: 9999px;
    background: -webkit-linear-gradient(top, #000, rgba(0, 0, 0, 0) 85%)
}

.hdbg2, .tit a, .about {
    opacity: .8;
    filter: alpha(opacity=80)
}

.g-mn {
    padding: 55px 0 30px;
    margin: 0 auto
}

.g-ft, .g-ft a {
    background: #1e2828;
    text-align: center;
    line-height: 80px;
    color: #288a8d
}

.m-about {
    width: 850px;
    margin: 0 auto;
    padding: 70px 0 0;
    text-align: center
}

.logo {
    width: 180px;
    height: 180px;
    margin: 0 auto 15px
}

.logo img {
    width: 100%;
    border-radius: 90px
}

.tit {
    padding: 0 0 10px
}

.tit a {
    font-size: 45px;
    letter-spacing: 2px;
    padding-bottom: 10px;

}

.about {
    padding: 0 0 15px;
    font-size: 14px;
}

.m-nav {
    height: 55px;
    margin: 40px 0 0;
}

.navc {
    position: relative;
    width: 850px;
    margin: 0 auto
}

.m-nav a {
    line-height: 55px;
    font-size: 14px;
    color: #fff
}

.m-nav .list {
    float: left;
    width: 640px
}

.m-nav .listc li, .m-nav .moreList {
    position: absolute;
    top: 0
}

.m-nav .moreList li {
    padding: 0 15px;
    white-space: nowrap
}

.m-nav .sch {
    position: absolute;
    right: 0;
    top: 10px;
    width: 190px
}

.m-nav input {
    width: 180px;
    height: 34px;
    padding: 0 0 0 10px;
    background: url(http://img.ph.126.net/Se7LSIo5h674BDxyYQpEkQ==/5629507230794538483.png);
    line-height: 34px
}

.m-post, .m-box, .icon {
    padding: 22px 22px 14px;
    background: #fff;
    border: 1px solid #cbcdcd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    zoom: 1
}

.m-post img, .m-post-video embed, .m-post-video object {
    display: block;
    max-width: 100%;
    _width: 100%
}

.index .m-post {
    width: 295px;
    margin: 0 15px 30px
}

.index .m-post img {
    width: 100%
}

.inner {
    width: 850px
}

.text h2 a {
    font-size: 28px;
    color: #171717
}

.text h2, .text p, .text ul, .text ol, .text blockquote {
    margin: 0 0 10px
}

.text ul, .text ol {
    padding: 0 0 0 2.5em
}

.text ul li {
    list-style: outside disc
}

.text ol li {
    list-style: outside decimal
}

.text blockquote {
    zoom: 1;
    padding: 0 0 0 15px;
    border-left: 1px solid #666
}

.cont {
    padding: 0 0 22px
}

.subinfo {
    padding: 12px 0 0;
    border-top: 1px solid #f3f3f3
}

.subinfo a, .subinfo2 a {
    display: inline-block;
    margin: 0 20px 0 0;
    color: #aeaeae
}

.subinfo a:hover {
    color: #777
}

.subinfo2 {
    padding: 0 0 15px
}

.tags a {
    margin: 0 12px 0 8px;
    text-decoration: underline
}

.desc {
    margin: 10px 0 0
}

.img {
    margin: 0 0 15px
}

.cover {
    float: left;
    width: 150px;
    margin: 0 15px 10px 0
}

.m-box {
    margin: 30px 0 0;
    padding: 22px
}

.m-page {
    width: 260px;
    height: 53px;
    margin: 0 auto
}

.m-page a {
    height: 53px;
    padding: 0 35px;
    line-height: 53px;
    font-size: 14px
}

.m-page a:hover {
    color: #fff
}

.cc_1, .cc_2, .cc_3, .cc_4, .cc_5, .cc_6 {
    height: 23px;
    display: inline-block;
    background: url(http://img.ph.126.net/FU8R5PVmRnI82k4EdoZFRw==/5629503932259651955.png) no-repeat left top;
    _background-image: url(http://img.ph.126.net/BzJv4nXpooG7_tfm9pRDrw==/5629503932259651956.png)
}

.cc_1 {
    width: 48px;
    background-position: 0 7px
}

.cc_2 {
    width: 48px;
    background-position: -55px -17px
}

.cc_3 {
    width: 32px;
    background-position: 0 -41px
}

.cc_4 {
    width: 32px;
    background-position: -70px -64px
}

.cc_5 {
    width: 32px;
    background-position: 0 -89px
}

.cc_6 {
    width: 14px;
    background-position: -87px -111px
}

.nctitle {
    padding-bottom: 10px;
    font-size: 14px
}

.notes {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    zoom: 1
}

.notes:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.notes .note {
    list-style: none;
    margin: 0;
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc
}

.notes .avatar {
    float: left;
    width: 16px;
    height: 16px;
    border: 0
}

.notes .clear {
    clear: both;
    height: 0;
    overflow: hidden
}

.notes .action {
    float: right;
    width: 776px
}

.notes blockquote {
    padding: 0 0 0 15px;
    margin-left: 30px;
    overflow: hidden;
    word-wrap: break-word;
    border-left: 1px solid #ccc
}